/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row {
    /*width: 100%;*/
    /*min-height: 150px;*/
    /*margin: 0;*/
    /*position: relative;*/
}

.pic {
    /*display: inline-block;*/
    /*width: 100%;*/
    min-height: 150px;
    background: url('https://c1.staticflickr.com/7/6204/6047319257_b27c1be597_m.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    /*position: absolute;*/
}

/*.picBottom {*/
    /*width: 100%;*/
    /*height: 20px;*/
    /*background-color: #878a85;*/
    /*!*margin-bottom: 2vh;*!*/
/*}*/

/*.container {*/
    /*position: relative;*/
    /*width: 50%;*/
/*}*/

/*.image {*/
    /*opacity: 1;*/
    /*display: block;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*transition: .5s ease;*/
    /*backface-visibility: hidden;*/
/*}*/

/*.middle {*/
    /*transition: .5s ease;*/
    /*opacity: 0;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%)*/
/*}*/

/*.container:hover .image {*/
    /*opacity: 0.3;*/
/*}*/

/*.container:hover .middle {*/
    /*opacity: 1;*/
/*}*/

/*.text {*/
    /*background-color: #4CAF50;*/
    /*color: white;*/
    /*font-size: 16px;*/
    /*padding: 16px 32px;*/
/*}*/

/* Add a gray background color and some padding to the footer */
/*footer {*/
    /*background-color: #f2f2f2;*/
    /*padding: 25px;*/
/*}*/